{% extends 'base.html' %}

{% block title %}
Login
{% endblock title %}


{% block content %}
<!-- {{form}} -->

<body class="text-center ">
    <div class="container pt-5 mb-5">

        <img class="mb-4" style="border-radius: 50%;" src="{{url_for('static',filename='/img/website/logo.jpg')}}"
            width="200px" height="200px" alt="company_logo">
        <h1 class=" mb-3 font-weight-normal mx-auto">
            Login
        </h1>
        <br>
        <h5>
            Use Existing Accounts : <br></h5>
                User Access : { username : user, password : password} <br>
        <div class="text-left">
            

            <form class="form-register" style="color:white" method="POST" enctype="multipart/form-data">
                <br>
                {{form.hidden_tag()}}
                {{ form.username.label() }}
                {{ form.username(class="form-control", placeholder="User Name") }}

                {{ form.password.label() }}
                {{ form.password(class="form-control", placeholder="Password") }}

                <br>


                <div class="checkbox mb-3">
                    <h6>Do not have an account?</h6>
                    <a class="btn btn-sm btn-secondary" href="{{ url_for('register_page') }}">Register</a>
                </div>

                {{ form.submit(class="btn btn-lg btn-block btn-primary") }}

            </form>
            <br><br><br>
        </div>

</body>
{% endblock content %}



{% block script %}
<script>
    var f = document.querySelector('footer')
    f.remove()
</script>
{% endblock script %}